{% extends 'base.html' %}
{% block title %}QEB学生管理———信息管理{% endblock %}
{% block Navigation %}
<div class="carousel slide" id="carousel-176804" style="margin:55px 0;">
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">修改学生信息</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form" method="POST">
            {% csrf_token %}  

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名字 <span style="color: rgb(236, 20, 20);">*</span></label>
              <div class="col-sm-2">
                <input type="text" class="form-control " id="name" value={{ student.name }} name="name">
              </div>
            </div>

            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">年龄 <span style="color: rgb(236, 20, 20);">*</span></label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="age" value={{ student.age }} name="age">               
                </div>
            </div>
         
            <div class="form-group">
                <label for="gender" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-2">
                    <select class="form-control" name="gender">
                        <option value={{ student.gender }} selected>{{ student.gender }} </option>
                        {% if student.gender == '男生' %}
                            <option>女生</option>
                        {% else %}
                            <option>男生</option>
                        {% endif %}
                        
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="time" class="col-sm-2 control-label">上课时间</label>
                <div class="col-sm-2">
                    <select class="form-control" name="time" >
                        <option value={{ student.time.name }} selected>{{ student.time.name }} </option>
                        {% for time in times %}
                            <option> {{ time.name }} </option>
                        {% endfor %}
                    </select>  
                </div>
            </div>

            <div class="form-group">
                <label for="classroom" class="col-sm-2 control-label">上课教室</label>
                <div class="col-sm-2">
                    <select class="form-control" name="classroom" >
                        <option value={{ student.classroom }} selected>{{ student.classroom }} </option>
                        {% for classroom in classrooms %}
                            {% if classroom.name == student.classroom.name %}
                             
                            {% else %}
                                <option> {{ classroom.name }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>  
                </div>
            </div>

            <div class="form-group">
                <label for="curriculum" class="col-sm-2 control-label">课程</label>
                <div class="col-sm-2">
                    <select class="form-control" name="curriculum">
                        <option value={{ student.curriculum }} selected>{{ student.curriculum }} </option>
                        {% for curriculum in curriculums %}
                            {% if curriculum.name == student.curriculum.name %}
                             
                            {% else %}
                                <option> {{ curriculum.name }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>  
                </div>
            </div>

            <div class="form-group">
                <label for="teacher" class="col-sm-2 control-label">老师</label>
                <div class="col-sm-2">
                    <select class="form-control" name="teacher" >
                        <option value={{ student.teacher }} selected>{{ student.teacher }} </option>
                        {% for teacher in teachers %}
                            {% if teacher.name == student.teacher.name %}
                             
                            {% else %}
                                <option> {{ teacher.name }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>  
                </div>
            </div>

            <div class="form-group">
                <label for="Remaining_lesson_J" class="col-sm-2 control-label">剩余课时 <span style="color: rgb(236, 20, 20);">*</span></label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="Remaining_lesson_J" value={{ student.Remaining_lesson_J }} name="Remaining_lesson_J">               
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger" name="delete">删除</button>
                    <button type="submit" class="btn btn-success" name="determine">确定</button>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <p style="color: rgb(240, 13, 13);"> {{ messages_1 }}</p>
                </div>
            </div>

        </form>
 





    </div>

</div>

</div>


{% endblock Navigation %}