{% extends 'base.html' %}
{% block title %}QEB教师管理——增加教师{% endblock %}
{% block Navigation %}

{% if messages %}

{% endif %}
<div class="carousel slide" id="carousel-176804" style="margin:55px 0;">
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">增加教师信息</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form" method="POST">
            {% csrf_token %}  
            
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名字 <span style="color: rgb(236, 20, 20);">*</span></label>
              <div class="col-sm-2">
                <input type="text" class="form-control " id="name"  name="name">
              </div>
            </div>

          
         
            <div class="form-group">
                <label for="curriculum" class="col-sm-2 control-label">课程 <span style="color: rgb(236, 20, 20);">*</span></label>
                <div class="col-sm-2">
                    <select class="form-control selectpicker" title="请选择课程" multiple>
                        {% for curriculum in curriculums %}
                        <option data-content="<span class='label label-success'>{{curriculum}}</span>">{{curriculum}}</option>    
                        {% endfor %}
                       
                        
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputfile">文件输入</label>
                <input type="file" id="inputfile" name="img">
                <p class="help-block">请上转一张照片</p>
            </div>

            

            

            

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">                   
                    <button type="submit" class="btn btn-success" >确定</button>
                </div>

                <div class="col-sm-offset-2 col-sm-10">
                    <p style="color: rgb(240, 13, 13);"> {{ messages_1 }}</p>
                </div>
            </div>

        </form>




    </div>

</div>

</div>

{% endblock Navigation %}
